$color-main: #00458B;
$color-main-text: #3E4958;
$color-disabled-btn: #E0E0E0;
$color-line: #E0E0E0;
$color-gray: #C4C4C4;
$color-orange: #FA8B00;
$color-bg: #FAFAFA;
$color-placeholder: #D7D7D7;

// Sections
$sec-color-gray: #FAFAFA;

// Media
$screen-size-1: 1199px;
$screen-size-2: 991px;
$screen-size-medium: 767px;

body {
  font-family: 'Manrope', sans-serif;
  color: #374759;
  background-color: #FAFAFA;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  font-size: 14px;
}

h4 {
  font-size: 28px;
  color: #374759;
  font-weight: 700;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: 0;
}

button:active {
  transform: scale(.99);
}
button:focus {
  outline: none;
}

.black-header {
  background-color: #13171D;
  padding: 14px 0;
  color: #fff;

  .luxurymebel {
    text-transform: uppercase;
  }
}

.white-header {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}
.right-side {
  position: relative;
}
.inner-black {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-korzina {
  margin-right: 20px;
}
.inner-black a {
  color: #fff;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
}

.inner-black p {
  font-size: 12px;
}

.inner-black .mobile img {
  width: 19px;
  margin-right: 12px;
}

.inner-black .cart-section {
  display: flex;
  align-items: center;
}
.inner-black .cart-section .cart-icon-block {
  margin-right: 25px;
  position: relative;
}
header {
  position: relative;
}

.inner-black .cart-section .cart-icon {
  width: 24px;
  cursor: pointer;
}

.search-input {
  position: relative;
}

.search-input input {
  background: #FFFFFF;
  border-radius: 4px;
  font-size: 13px;
  padding: 6px 12px;
  border: 0;
  padding-right: 30px;
}

.search-input .search-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.inner-white {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;

  a {
    font-weight: 500;
    font-size: 14px;
    color: #374759;
    margin: 0 20px;
    &:hover {
      color: #61A639;
      text-decoration: none;
    }
    &.active {
      color: #61A639;
    }
  }
  @media (max-width: $screen-size-2) {
    a {
      margin: 0 12px;
    }
    .left-side img {
      height: 35px;
    }
  }
}

.green-btn-outline {
  border: 1.5px solid #61A639;
  border-radius: 7px;
  outline: none;
  color: #61A639;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 20px;
  background-color: #fff;
  cursor: pointer;
}

.social-icons {
  position: absolute;
  right: 30px;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.social-icons a {
  display: block;
  margin-bottom: 15px;
}
@media (max-width: 991.98px) {
  .social-icons {
    display: none;
  }
}

.green-btn {
  padding: 14px 40px;
  background: #61A639;
  border-radius: 7px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.green-btn:focus {
  outline: none;
}

.green-btn img {
  margin-left: 18px;
}

.green-btn span {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.about {
  background-color: #fff;
}

.about-us {
  padding-top: 100px;
}

.about-us-title .line {
  background-color: $color-orange;
  width: 80px;
  height: 2px;
  margin-top: 5px;
}

.about-us-item {
  width: 65%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.about-us-item img {
  margin-right: 40px;
}

.about-us-item p {
  padding-bottom: 15px;
}
.about-us-title h4 {
  text-transform: uppercase;
}

.a-second {
  margin-left: 80px;
}

.a-third {
  margin-left: 160px;
}

.a-four {
  margin-left: 240px;
}

.about-us-first {
  background: url('/src/images/img-1.svg') no-repeat 0% 90%;
}

.products {
  padding: 100px 0;
  background-color: #FAFAFA;
}

.green-btn .white-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 15px;
}

.green-btn .white-img img {
  margin: 0;
}

.green-btn-products {
  margin: 50px auto;
}

.schedule {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px 30px 15px 30px;
}

.schedule img {
  margin-right: 13px;
}
.schedule .sc-title {
  color: #374759;
  font-weight: 600;
  font-size: 20px;
}

.schedule .table {
  margin: 0;
}

.schedule .table-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.map-img {
  width: 100%;
}

.schedule-title {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.shedule-text {
  margin-bottom: 40px;
  margin-top: 100px;
}

.call-back {
  background: #FFFFFF;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 180px 0;
  flex-direction: column;
}

.call-back  h3 {
  color: #374759;
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 700;
}
.call-back .green-btn {
  width: 200px;
}

.pay-info {
  padding: 100px 0;
  background: #FAFAFA url('/src/images/bg-img-1.svg') no-repeat 90% 90%;
}
.pay-info .title {
  margin-bottom: 50px;
}

.pay-item {
  display: flex;
  width: 90%;
  align-items: center;
  margin-bottom: 15px;
}

.pay-item h5 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.pay-item p {
  font-size: 14px;
}
.pay-item img {
  margin-right: 30px;
}

.pay-item .pay-item-right {
  padding-bottom: 15px;
}

.pay-info .pay-text {
  width: 60%;
  margin: 30px auto 0 auto;
  text-align: center;
}

.feedback {
  padding: 60px 0;
  background-color: #fff;
}

.title-arr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-arr .title {
  margin: 0;
  padding-right: 25px;
}

.title-arr .swiper-pagination {
  display: flex;
  align-items: center;
  color: $color-orange;
  position: unset;
}

.title-arr .pagination .swiper-pagination-current {
  color: $color-orange;
  font-size: 24px;
  font-weight: 700;
  margin-left: 15px;
  margin-right: 4px;
}

.title-arr .pagination .swiper-pagination-total {
  color: $color-orange;
  opacity: 0.5;
  margin-right: 15px;
  padding-top: 7px;
  margin-left: 4px;
}
.title-arr .pagination .prev {
  transform: rotate(180deg);
  cursor: pointer;
}

.title-arr .pagination .next {
  cursor: pointer;
}

.title-text {
  width: 60%;
  margin: 25px auto 50px auto;
  text-align: center;
  font-size: 18px;
}
.swiper-feed .swiper-wrapper {
  width: calc(100% + 14px);
  padding: 5px;
  margin-left: -1px;
  overflow: hidden;
}
.feed {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  width: 95%;
  padding: 30px;
  height: 280px;
}

.feed .feed-title {
  display: flex;
  align-items: center;
}

.feed .feed-title h5 {
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
}

.feed .feed-text {
  margin-top: 20px;
  color: #848484;
  font-style: italic;
  font-size: 14px;
}

.partners {
  background-color: #FAFAFA;
  padding: 100px 0;
}

.partners-list {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.partner-title {
  font-size: 20px;
  font-weight: 500;
}

.partners-list  img {
  margin-right: 50px;
}
.footer {
  padding: 40px 0 60px 0;
  background-color: #1C2733;
}
.footer-item {
  width: 100%;
  color: #ffffff;
}

.footer-item p {
  font-size: 16px;
}
.footer-item a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.footer-item .foot-item {
  margin-bottom: 20px;
}

.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 220px;
  z-index: 20;
  padding: 15px 15px 5px 15px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.dropdown-content a {
  margin: 0;
  margin-bottom: 10px;
  display: block;
}

.dropdown-content a:hover {color: $color-orange;}

.dropdown:hover .dropdown-content {display: block;}


@media (max-width: $screen-size-medium) {
  .a-second, .a-third, .a-four {
    margin-left: 0;
  }
  .about-us-item {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .about-us-item img {
    margin-right: 0;
    width: 100px;
  }
  .about-us-item p {
    width: 80%;
    text-align: center;
  }

  .about-us-title {
    margin-bottom: 40px;
  }
  .about-us-title h4 {
    text-align: center;
  }

  .about-us {
    padding-top: 50px;
  }

  .about-us-title .line {
    width: 100px;
    margin: 5px auto;
  }
  .shedule-text {
    margin: 40px 0;
  }

  .call-back {
    padding: 45px 0;
  }

  .call-back h3 {
    font-size: 20px;
  }

  .partners-list {
    flex-direction: column;
  }
  .right-side {
    display: flex;
  }

}


/*--------------------------    Mobile Responsive Nav   ---------------------------------*/

@media (max-width: $screen-size-medium) {
  .inner-black {
    justify-content: center;
  }
  .inner-white-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
  }
  .inner-white-mobile img {
    cursor: pointer;
  }
  .logo-m {
    //width: 50px;
    height: 39px;
  }
  .black-header {
    padding: 7px 0;
    display: none;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #13171D;
  overflow-x: hidden;
  transition: 0.5s;
  overflow-y: hidden;
}

.overlay-content {
  padding: 16px;
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s;
  height: 100%;
}

.overlay-content .green-btn-outline {
  background-color: inherit;
}

.overlay-content p {
  color: #fff;
  padding-top: 15px;
  font-size: 13px;
}

.overlay-content .search-input {
  margin: 15px auto 20px auto;
}

.mob-menu-logo {
  font-size: 20px !important;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.overlay a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s;
  text-align: center;
  font-weight: 500;
  margin-bottom: 25px;
  &.active {
    color: #61A639;
  }
}

.border-line {
  background-color: #49525C;
  height: 1px;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.overlay a:hover, .overlay a:focus {
  color: #61A639;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 16px;
  z-index: 110;
}
.overlay img {
  transition: 0.3s;
}

@media (max-width: 320px) {
  .overlay a {
    margin-bottom: 10px;
  }
}

/*--------------------------    Mobile Responsive Nav   ---------------------------------*/

/*Modal - Zayavka - start*/
.zayavka-modal {

  .modal-title {
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: #3E4958;
    margin: 0 auto;
  }
  .modal-content {
    border-radius: 20px;
  }
  .modal-header {
    padding: 22px 30px;
    border-bottom: 0;
  }
  .modal-footer {
    border-top: 0;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 35px;
  }
  .col-form-label {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #3E4958;
    padding-bottom: 5px;
  }
  .modal-body {
    padding: 0 30px;
  }
  textarea.form-control {
    height: 175px;
  }
  .modal-header .close, .modal-header .close:hover {
    opacity: 1;
  }
  .form-control {
    font-size: 16px;
    border-radius: .5rem;
  }
  @media (max-width: $screen-size-medium) {
    .modal-title {
      font-size: 18px;
      line-height: 25px;
    }
    .modal-header .close img {
      width: 30px;
      height: 30px;
    }
    .modal-header {
      padding: 22px 20px;
    }
    .modal-body {
      padding: 0 20px;
    }
    .col-form-label {
      font-size: 16px;
      padding-top: 0;
    }
    .form-control {
      font-size: 16px;
    }
    .modal-footer {
      padding-bottom: 22px;
      padding-top: 4px;
    }

  }
}
/*Modal - Zayavka - end*/

/* -------------------------   SECTION START - FOOTER - start -------------------------- */
footer {
  padding: 70px 0 40px 0;

  .footer-main {
    align-items: start;
    justify-content: space-between;
  }
  .f-title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 14px;
    color: #3E4958;
  }
  .footer-contacts {
    color: $color-main;
    text-align: left;

    .f-links {
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 10px;
      a {
        text-decoration: none;
        color: #3E4958;
      }
    }
  }
  .f-phone {
    font-size: 14px;
    text-decoration: none;
    color: #3E4958;
    margin-left: 15px;
    font-weight: 500;
  }
  .footer-law-text {
    color: $color-main;
    font-size: 12px;
    text-align: center;
  }
  @media (max-width: $screen-size-2) {
    .footer-main {
      margin-top: 50px;
    }
  }
  @media (max-width: $screen-size-medium) {
    padding-bottom: 25px;
    padding-top: 40px;

    .footer-main {
      align-items: center;
      margin-bottom: 50px;
    }
    .footer-line {
      margin-top: 50px;
    }
    .footer-contacts {
      flex-direction: column;
    }
    .f-title {
      margin-top: 24px;
    }
  }
}
.social-div {
  img {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-right: 20px;
  }
  @media (max-width: $screen-size-1) {
    img {
      margin-bottom: 20px;
    }
  }
}

/*---------------------------   COMMON STYLES START------------------------------------------ */
.section-header {
  text-transform: uppercase;
  text-align: center;
}
.cart-red-count {
  position: absolute;
  top: 1px;
  left: 25px;
  background: #FC1055;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  padding: 0 0px 0px 0px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  border: 2px solid #fff;
}

.zakaz-body-btn {
  color: #fff;
  padding: 8px 12px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
  padding-right: 50px;
  &:after {
    content: url("/images/zakaz-right.png");
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 9px;
  }
}
.room-zakaz {
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  width: 270px;
  height: 240px;
  padding: 20px;
  font-size: 20px;
}
.room-zakaz-big {
  width: 392px;
  height: 500px;
  background-image: url("/src/images/zakaz1.png");
  padding: 25px 30px;
  margin-right: 20px;
}
.zakaz-body {
  h4 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
  }
}
.room-zakaz-1 {
  background-image: url("/src/images/zakaz2.png");
  margin-right: 20px;
  margin-bottom: 20px;
}
.room-zakaz-2 {
  background-image: url("/src/images/zakaz3.png");
  margin-bottom: 20px;
}
.room-zakaz-3 {
  background-image: url("/src/images/zakaz4.png");
  margin-right: 20px;
}
.room-zakaz-4 {
  background-image: url("/src/images/zakaz5.png");
}
.room-zakaz-other {
  width: 560px;
}
@media (max-width: $screen-size-medium) {
  .room-zakaz {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-bottom: 15px;
    margin-right: 0;
    height: 295px;
  }
  .room-zakaz-big {
    margin-right: 0;
    height: 422px;
  }
  .room-zakaz-other {
    width: auto;
  }
}

.breadcrumb-custom {
  font-weight: 500;
  font-size: 14px;
  padding: 0;
  padding-top: 30px;
  background-color: transparent;
  margin-bottom: 30px;

  .breadcrumb-item {
    padding-left: 15px;
    &.active {
      color: #fff;
    }
    &.breadcrumb-first-item {
      padding-left: 0;
      &:before {
        content: none;
      }
    }
    a {
      color: #fff;
    }
    &:before {
      color: #fff;
      content: ">";
      padding-left: 0;
      padding-right: 15px;
    }
  }
}
.breadcrumb-custom-green {
  .breadcrumb-item {
    &.active {
      color: #86969D;
    }
    a {
      color: #61A639;
    }
    &:before {
      color: #61A639;
    }
  }
}

.reason {
  text-align: center;
  width: 250px;
  height: 229px;
  position: relative;
  padding: 58px 45px 50px 40px;
  margin: 0 40px;
  z-index: 1;

  &:before {
    content: url("/src/images/shape-2.png");
    position: absolute;
    left: -30px;
    z-index: -1;
    top: -23px;
  }
  img {
    margin-bottom: 15px;
  }
  @media (max-width: $screen-size-medium) {
    margin: 0;
    margin-bottom: 50px;
  }
}

.tovar-btn-block {
  padding: 25px 25px 20px 25px;

  .vernut-nazad-btn {
    color: #00458B;
    border-color: #00458B;
  }
  .zakazat-btn {
    background-color: #61A639;
    margin-left: 15px;
    color: #fff;
  }
  .tovar-footer-text {
    font-size: 14px;
    line-height: 19px;
    color: #C4C4C4;
    margin-top: 20px;
  }
  @media (max-width: $screen-size-medium) {
    padding: 34px 20px 30px 20px;

    .green-btn-outline {
      margin-top: 6px;
    }
    .tovar-footer-text {
      font-size: 12px;
    }
    .vernut-nazad-btn {
      margin-right: 6px;
    }
    .zakazat-btn {
      margin-left: 0;
    }
  }
}
.korzina-btn {
  font-size: 14px;
  padding: 10px 15px 7px 15px;
  border: 1.5px solid #3E4958;
  box-sizing: border-box;
  border-radius: 7px;
  background-color: #fff;
  display: flex;
  align-items: self-start;
  position: relative;
  &:before {
    content: url("/src/images/korzina-img.png");
    margin-right: 11px;
  }
}

.tovari-block {

}
.tovari-header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 30px;
  border: 0.5px solid #D5DDE0;
  border-bottom: 0;
  background-color: #fff;
  //border-bottom: 0.5px solid #D5DDE0;
  &-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-right: 16px;
  }
  &-link {
    padding: 0;
    height: 30px;
    background: #fff;
    cursor: pointer;
    &:before {
      content: url("/src/images/Arrow - Right Square.png");
    }
  }
}
.tovari-body {
  display: grid;
  grid-template-columns: auto auto auto auto;
  @media (max-width: $screen-size-1) {
    grid-template-columns: auto auto;
  }
  @media (max-width: $screen-size-medium) {
    grid-template-columns: auto;
  }
}
.tovar {
  text-align: center;
  padding: 25px 20px 30px 20px;
  border: 0.5px solid #D5DDE0;
  background-color: #fff;
  &-title {
    text-align: left;
    line-height: 140%;
    margin: 20px 0;
    font-weight: 500;
  }
  &-price {
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    color: #3E4958;
  }
  &-korzina {
    background: #61A639;
    border-radius: 5px;
    padding: 10px 15px;
    height: 40px;
    cursor: pointer;
    &:before {
      content: url("/src/images/shopping-cart-icon.png");
    }
  }
}

.mb-40 {
  margin-bottom: 40px;
}

.pagination {
  .page-item {
    .page-link {
      font-size: 18px;
      font-weight: 600;
      color: #86969D;
      border: 0;
      padding: .5rem .9rem;
      border-radius: 50%;
      &.active {
        font-weight: 800;
        color: #3E4958;
      }
    }
    .page-arrows {
      padding: 1px 1px;
    }
    &.disabled .page-link {
      opacity: .3;
    }
  }
}

.cart-not-empty {
  display: none;
}
.cart-open-block {
  position: absolute;
  width: 513px;
  height: 336px;
  z-index: 10;
  right: calc(calc(100% - 1140px)/2);
  top: calc(100% - 65px);
  display: none;
  background: #FFFFFF;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.cart-open-list {
  height: 186px;
  overflow-y: auto;
}
.cart-open-btn {
  color: #fff;
  justify-content: center;
  padding: 8px 20px;
}
.cart-unselect {
  cursor: pointer;
}
.cart-item {
  padding: 8px 20px;

  .cart-item-img {
    width: 105px;
    height: 75px;
    object-fit: contain;
  }
  .cart-item-title {
    align-self: start;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #3E4958;
    margin-bottom: 10px;
  }
  .cart-item-price {
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #3E4958;
    width: 150px;
    padding: 0 10px;
  }
  .cart-plus-minus {
    border: 1px solid #D5DDE0;
    box-sizing: border-box;
    border-radius: 12.5px;
    width: 74px;
    height: 25px;
    padding: 4px;
    .cart-plus-minus-btn {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      padding: 0;
      color: #fff;
      position: relative;
      background-color: #CACDD4;
      cursor: pointer;
      &:before {
        content: '-';
        position: absolute;
        top: -9px;
        left: 4px;
        font-size: 22px;
        font-weight: 800;
      }
      &.cart-plus-btn {
        background-color: #61A639;
        &:before {
          content: '+';
          top: -8.3px;
          left: 2.8px;
        }
      }
    }
  }
  .cart-unselect {
    cursor: pointer;
  }
}
.cart-open-buttons {
  padding: 15px 20px;
  border-top: 0.5px solid #D5DDE0;

  p{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #86969D;
    margin-bottom: 5px;
  }
  h5 {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #3E4958;
  }
}
.cart-if-empty {
  height: calc(100% - 65px);
  width: 100%;
}
.cart-empty p {
  color: #C4C4C4;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
.mobile-cart-title {
  display: flex;
  align-items: center;
  //border-bottom: 1px solid #E0E0E0;
  padding: 20px 20px;
  p {
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #3E4958;
  }
  img {
    cursor: pointer;
  }
}
@media (max-width: 750px) {
  .cart-not-empty {
    height: 100%;
  }
  .cart-open-block {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    border-radius: 0;
    height: 100%;
  }
  .cart-open-list {
    height: calc(100% - 220px);
  }
  .cart-open-itog {
    width: 100%;
    margin-bottom: 10px;
  }

  .cart-item {
    margin-right: 0;
  }
  .cart-item:first-child {
    padding-top: 10px;
  }
  .cart-item {
    padding: 8px 10px;
  }
  .cart-open-buttons {
    flex-direction: column;
  }
  .cart-open-btn {
    width: 100%!important
  }
  .cart-open-btn:nth-child(1) {
    margin-bottom: 10px;
  }
  .cart-if-empty {
    height: calc(100% - 43px)!important;
  }
}

/*---------------------------  COMMON STYLES END ------------------------------------------- */


/* -------------------------   SECTION START - Bud v kurse -------------------------- */
.sec-bud-v-kurse {
  background-color: #fff;
  padding: 0;
  .subscribe-block {
    position: relative;
    padding: 60px 0;
    .section-header {
      text-align: left;
      margin-bottom: 10px;
    }
    .bud-text {
      margin-bottom: 30px;
    }
    .subscribe-input {
      height: 38px;
      width: 288px;
      padding: 18px 20px;
      background: #FFFFFF;
      border: 1px solid #D5DDE0;
      box-sizing: border-box;
      border-radius: 24px;
      margin-bottom: 20px;
      font-size: 14px;
    }
    .subscribe-btn {
      background: #61A639;
      border-radius: 40px;
      height: 38px;
      width: 288px;
      color: #fff;
      padding: 0 13px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
    }
  }
  @media (max-width: $screen-size-1) {
    .bud-v-kurse-img {
      width: 100%;
    }
  }
  @media (max-width: $screen-size-2) {
    text-align: center;
    .subscribe-block .section-header {
      text-align: center;
    }
  }
  @media (max-width: $screen-size-medium) {
    .section-header {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .bud-text {
      font-size: 12px;
      margin-bottom: 30px;
    }
    .subscribe-input {
      font-size: 12px;
    }
  }
}

/* -------------------------   SECTION START - Pachemu vibiraiut nas -------------------------- */
.sec-pochemu-v-nas {
  padding: 60px 0 70px 0;
  position: relative;
  background-color: #fff;

  .section-header {
    margin-bottom: 60px;
  }
  .img-up {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $color-main;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 70px;
    right: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: $screen-size-medium) {
    padding-top: 45px;
    padding-bottom: 40px;

    .section-header {
      font-size: 18px;
    }
    .img-up {
      display: none;
    }
  }
}

/* -------------------------   SECTION START - MEBEL-NA-ZAKAZ -------------------------- */
.sec-mebel-na-zakaz {
  background-color: $sec-color-gray;
  padding: 150px 0;

  .section-header {
    margin-bottom: 40px;
  }
  @media (max-width: $screen-size-medium) {
    padding-top: 90px;
    padding-bottom: 90px;

    .section-header {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
}

/* ----------------------------   SECTION - MAIN SLIDER ------------------------------- */
.sec-main-slider {
  height: 540px;
  background-image: url("/src/images/main-slider.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
  background-color: #FAFAFA;

  .main-header {
    color: #00458B;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 140px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .main-s-btn {
    color: #00458B;
    border-color: #00458B;
    margin-bottom: 40px;
    &:after {
      filter: invert(62%) sepia(81%) saturate(2151%) hue-rotate(240deg) brightness(73%) contrast(80%);
    }
  }
  .arrow-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .prev-btn {
    background-color: $color-main;;
    margin-right: 12px;
  }
  .next-btn {
    background-color: $color-main;
  }
  .main-slider-block {
    margin-top: 75px;
  }
  @media (max-width: $screen-size-medium) {
    height: auto;
    background-image: url("/src/images/mobile-main-bg.png");

    .main-header {
      margin-top: 55px;
      font-size: 30px;
      margin-bottom: 15px;
    }
    .main-s-btn {
      margin-bottom: 30px;
    }
    .main-slider-block {
      margin-top: 50px;
      margin-bottom: 50px;
      img {
        width: 100%;
      }
    }
  }
}

/* ----------------------------   SECTION - MAIN MAGAZIN ------------------------------- */
.sec-main-magazin {
  padding: 40px 0 120px 0;

  .room-zakaz-magazin:nth-child(1) {
    background-image: url("/src/images/magazin2.png");
    margin-right: 40px;
  }
  .room-zakaz-magazin:nth-child(2) {
    background-image: url("/src/images/magazin1.png");
    margin-right: 0;
  }
  @media (max-width: $screen-size-medium) {
    padding: 30px 0 60px 0;

    .breadcrumb {
      margin-bottom: 40px;
    }
    .room-zakaz-magazin {
      margin-bottom: 30px;
      margin-right: 0;
    }
  }
}

/* ----------------------------   SECTION - O NAS ------------------------------- */
.sec-too-llc {
  height: 672px;
  background-image: url('/src/images/o-nas-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
  background-color: #FAFAFA;
  color: #fff;
  text-align: center;

  .section-header {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 80px;
    margin-top: 60px;
  }
  .o-nas-desc {
    font-size: 20px;
    line-height: 160%;
  }
  @media (max-width: $screen-size-medium) {
    height: auto;
    padding-bottom: 45px;

    .section-header {
      margin-top: 35px;
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 30px;
    }
    .o-nas-desc {
      font-size: 14px;
    }
  }
}
.sec-delivery {
  background-image: url('/src/images/delivery-bg.png');
  margin-bottom: 70px;
}
.sec-contacts-new {
  background-image: url('/src/images/contacts-bg.png');
  margin-bottom: 70px;
  .section-header {
    margin-top: 80px;
    margin-bottom: 70px;
    text-transform: initial;
  }

  .c-big-div:nth-child(1) {
    margin-right: 165px;
  }
  .c-big-text {
    font-size: 2rem;
    margin-top: 25px;
  }
  .c-social-icons {
    margin-top: 70px;
  }
  @media (max-width: $screen-size-2) {
    .c-big-div:nth-child(1) {
      margin-right: 60px;
    }
  }
  @media (max-width: $screen-size-medium) {
    margin-bottom: 0;

    .c-big-div:nth-child(1) {
      margin-right: 0px;
      margin-bottom: 60px;
    }
    .section-header {
      margin-top: 60px;
      margin-bottom: 40px;
    }
    .c-big-div img {
      width: 80px;
    }
  }
}

/* ----------------------------   SECTION - O NAS TEXTS ------------------------------- */
.sec-o-nas-texts {
  padding-top: 100px;

  .text-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .text-body {
    font-size: 16px;
    margin-bottom: 70px;
  }
  @media (max-width: $screen-size-medium) {
    padding: 45px 0 0 0;

    .text-body {
      font-size: 14px;
      margin-bottom: 70px;
    }

  }
}

/* ----------------------------   SECTION - DLYA UDOBSTVA ------------------------------- */
.sec-dlya-udobstva {
  padding: 60px 0 70px 0;
  background-color: #fff;

  .section-header {
    margin-bottom: 50px;
  }
  @media (max-width: $screen-size-medium) {
    padding: 45px 0 70px 0;

    .section-header {
      margin-bottom: 60px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

/* ----------------------------   SECTION - Magazin Category ------------------------------- */
.sec-magazin-category {
  padding-top: 40px;
  padding-bottom: 90px;

  .container {
    padding: 0;
  }
  .breadcrumb-custom {
    background-color: $color-bg;
  }
  .row .col-md-3 {
    padding: 0 13px;
  }
  .card {
    padding: 12px;
    padding-bottom: 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    margin-bottom: 30px;

    .card-img {
      width: 100%;
    }
    .card-title {
      margin: 10px 0;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
    }
    .card-footer {
      margin-top: 20px;
      background-color: #fff;
      text-align: center;
      padding: 20px 0;
      p {
        color: $color-orange;
        font-size: 24px;
      }
    }
  }
  @media (max-width: $screen-size-medium) {
    padding-top: 30px;

    .container {
      padding: 0 15px;
    }
    .breadcrumb-custom {
      margin-bottom: 40px;
    }
    .row .col-md-3 {
      padding: 0 15px;
      display: flex;
      justify-content: center;
    }
    .card {
      width: min-content;
    }
  }
}

/* ----------------------------   SECTION - Magazin Inside ------------------------------- */
.sec-magazine-inside {
  padding-bottom: 70px;

  .magazin-block {
    background: #FFFFFF;
    border: 0.5px solid #E0E0E0;

    .magazin-image {
      padding: 20px;
      &-zoom-text {
        margin: 20px 0 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #86969D;
      }
      .product-img {
        padding: 0 5px;
        img {
          width: 76px;
          height: 60px;
          object-fit: contain;
          &.active {
            border: 2px solid #61A639;
          }
        }
      }
    }
    .magazin-desc {
      border-left: 0.5px solid #E0E0E0;
      width: 100%;
    }
    .magazin-title {
      padding: 20px 25px;
      border-bottom: 0.5px solid #E0E0E0;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #3E4958;
    }
    .price-block {
      padding: 25px;
      padding-bottom: 30px;

      .price-label {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
      }
      .price {
        font-weight: 800;
        font-size: 30px;
        line-height: 41px;
        color: #00C667;
      }
      .plus-minus {
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        border-radius: 23px;
        width: 150px;
        height: 40px;
        padding: 5px;

        .tovar-sani {
          font-size: 16px;
          font-weight: 600;
          color: #374759;
        }
      }
      .plus-minus-btn {
        background-color: #CACDD4;
        border: 1px solid #D5DDE0;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-weight: 500;
        font-size: 27px;
        line-height: 0px;
        color: #fff;
        cursor: pointer;
        &.plus-btn {
          background-color: #61A639;
        }
      }
    }
    .tovar-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      padding: 0 25px 10px 25px;
    }
    .tover-pod-title {
      font-size: 14px;
      line-height: 19px;
      color: #3E4958;
      padding: 0 25px;
    }
  }
  @media (max-width: $screen-size-2) {
    .magazin-block {
      .magazin-image {
        text-align: center;
      }
      .magazin-desc {
        border-top: 0.5px solid #E0E0E0;
        border-left: 0;
      }
    }
  }
  @media (max-width: $screen-size-medium) {
    .breadcrumb-custom {
      margin-bottom: 40px;
    }
    .magazin-block {
      .magazin-img {
        margin: 15px 0;
        width: 100%;
      }
      .magazin-desc {
        border-left: 0;
      }
      .magazin-title {
        padding: 20px 20px 20px 20px;
        font-size: 24px;
        line-height: initial;
      }
      .price-block {
        padding: 34px 20px 40px 20px;
      }
      .tovar-title {
        padding-left: 20px;
        padding-right: 20px;
      }
      .tover-pod-title {
        padding: 0 20px;
      }
    }
  }
}
.sec-recommendation {
  padding-bottom: 70px;
}

/* ----------------------------   SECTION - Contacts   ------------------------------- */
.sec-contacts {
  padding: 40px 0 120px 0;

  .breadcrumb-custom {
    background-color: $color-bg;
  }
  .contacts-block {
    padding: 50px 30px 30px 30px;
    background: #FFFFFF;
    border: 0.5px solid #E0E0E0;

    .contact-row {
      padding-left: 75px;
      margin-bottom: 35px;

      .c-label {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #3E4958;
        width: 185px;
      }
      .c-info {
        font-size: 16px;
        line-height: 22px;
        color: #3E4958;
      }
    }
  }
  @media (max-width: $screen-size-medium) {
    padding: 30px 0 90px 0;

    .breadcrumb-custom {
      margin-bottom: 45px;
    }
    .contacts-block {
      padding: 0;
      padding-top: 10px;

      .contact-row {
        padding: 15px 18px 25px 25px;
        padding-bottom: 18px;
        border-bottom: solid 1px #E0E0E0;
        margin-bottom: 0;
        flex-direction: column;

        .c-label {
          width: auto;
          margin-bottom: 10px;
        }
        .c-info {
          font-size: 14px;
        }
      }
      .c-map {
        margin-top: 20px;
        padding: 10px;
      }
    }
  }
}

/* ----------------------------   SECTION - Mebel Inside   ------------------------------- */
.sec-mebel-inside {
  padding: 40px 0 60px 0;

  .breadcrumb-custom {
    margin-bottom: 45px;
    background-color: $color-bg;
  }
  .big-m-inside {
    background-color: #fff;
    border: 0.5px solid #E0E0E0;

    .image-m-inside {
      padding: 18px 20px;
    }
    .text-m-inside {
      border-left: 1px solid #E0E0E0;

      .title-m-inside {
        padding: 20px 25px;
        font-size: 36px;
        line-height: 49px;
        border-bottom: 1px solid #E0E0E0;
      }
      .desc-m-inside {
        font-size: 16px;
        line-height: 22px;
        padding: 25px;
        margin-bottom: 45px;
      }
      .price-m-inside {
        padding: 0 25px 0px 25px;
        font-size: 30px;
        line-height: 41px;
        color: $color-orange;
        font-weight: 600;
      }
    }
    .footer-m-inside {
      border-top: 1px solid #E0E0E0;
      padding: 60px 50px 70px;
    }
  }
  @media (max-width: $screen-size-medium) {
    padding: 30px 0 90px 0;

    .breadcrumb-custom {
      margin-bottom: 40px;
    }
    .big-m-inside {
      .image-m-inside {
        padding: 10px;

        img {
          width: 100%;
        }
      }
      .footer-m-inside {
        border-top: 0;
        padding: 30px 0 40px;
      }
      .text-m-inside {
        border-left: 0;

        .title-m-inside {
          font-size: 30px;
          line-height: 41px;
          padding: 5px 20px 30px;
        }
        .desc-m-inside {
          padding: 30px 20px;
          margin-bottom: 10px;
        }
        .price-m-inside {
          padding: 0 20px 0px 20px;
        }
      }
    }
  }
}

/* ----------------------------   SECTION - Works Slider   ------------------------------- */
.sec-works-slider {
  padding: 60px 0 120px 0;

  .section-header {
    margin-bottom: 40px;
  }
  .slider-swipe {
    position: relative;
    .swiper-b-next {
      position: absolute;
      top: calc(50% - 18px);
      z-index: 1;
      right: -56px;
    }
    .swiper-b-prev {
      position: absolute;
      top: calc(50% - 18px);
      z-index: 1;
      left: -56px;
    }
  }
  @media (max-width: $screen-size-medium) {
    padding-top: 0;

    .section-header {
      font-size: 24px;
      font-weight: bold;
    }
    .slider-swipe {
      .swiper-container {
        width: calc(100% - 110px);
        .swiper-slide {
          text-align: center;
        }
      }
      .swiper-b-next {
        right: 10px;
      }
      .swiper-b-prev {
        left: 10px;
      }
    }
  }
}

/* ----------------------------   SECTION - INDEX Slider   ------------------------------- */
.sec-index-slider {
  padding: 40px 0;

  .naukan-img {
    img {
      height: 440px;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  .swiper-button-prev {
    left: 12px;
    width: 50px;

    &:after {
      content: url("/src/images/slider-left-arrow.png");
    }
  }
  .swiper-button-next {
    right: 12px;
    width: 50px;

    &:after {
      content: url("/src/images/slider-right-arrow.png");
    }
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border: 1px solid #D5DDE0;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      border: 0;
      background-color: #61A639;
    }
  }
}

/* ----------------------------   SECTION - Priviliges   ------------------------------- */
.sec-priviliges {
  padding: 40px 0;
  .priviliges-block {
    background: #FFFFFF;
    border: 0.5px solid #D5DDE0;
    padding: 20px 0;

    .privilige {
      width: 25%;
      padding: 20px 30px 15px;
      border-right: 1px solid #D5DDE0;
      &:last-child {
        border: 0;
      }
      img {
        margin-bottom: 20px;
      }
    }
  }
  @media (max-width: $screen-size-medium) {
    .priviliges-block {
      flex-direction: column;
      padding: 0;

      .privilige {
        width: 100%;
        border-right: 0;
        padding: 20px 30px 20px;
      }
    }
  }
}

/* ----------------------------   SECTION - Products   ------------------------------- */
.sec-products {
  padding-bottom: 70px;

  .products-types {
    width: 285px;
    margin-right: 30px;

    .osobi-type {
      display: flex;
      align-items: center;
      padding: 14px 12px;
      background-color: #fff;
      border: 0.5px solid #D5DDE0;
      margin-bottom: 10px;
      p {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #3E4958;
        margin-left: 12px;
      }
    }
    &-list {
      padding: 15px 0;
      background: #FFFFFF;
      border: 0.5px solid #D5DDE0;
      ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
        a {
          color: #000;
          &:hover {
            text-decoration: none;
          }
        }
        li {
          padding: 10px 20px;
          font-weight: 500;
          font-size: 14px;
          line-height: 19px;
          &.active {
            background-color: #61A639;
            font-weight: bold;
            color: #FFFFFF;
          }
        }
      }
    }
  }
  .all-products {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 810px;
  }
  .pagination {
    margin-top: 20px;
  }
  @media (max-width: $screen-size-2) {
    .all-products {
      width: auto;
      grid-template-columns: auto auto;
    }
  }
  @media (max-width: $screen-size-medium) {
    .all-products {
      grid-template-columns: auto;
    }
    .products-types {
      width: 100%;
      margin-right: 0;
      margin-bottom: 25px;
    }
    .products-self-block {
      width: 100%;
    }
  }
}

/* ----------------------------   SECTION - News   ------------------------------- */
.sec-news {
  padding-bottom: 40px;

  .news-block {
    background: #FFFFFF;
    border: 0.5px solid #D5DDE0;
    margin-bottom: 30px;
    height: calc(100% - 30px);

    .news-content {
      height: calc(100% - 305px);
    }
    img {
      margin: 15px 15px 20px 15px;
      width: calc(100% - 30px);
      object-fit: cover;
      height: 270px;
    }
    .new-title {
      margin: 0 20px 15px;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #3E4958;
    }
    .new-read-btn {
      border: 1px solid #61A639;
      box-sizing: border-box;
      border-radius: 5px;
      margin: 0 20px 25px;
      background-color: #fff;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #61A639;
      padding: 14px 20px;
      width: calc(100% - 40px);
      text-align: left;
      position: relative;
      &:after {
        content: url("/src/images/Arrow - Right.png");
        height: 24px;
        width: 24px;
        position: absolute;
        right: 15px;
        top: calc(50% - 12px);
      }
    }
  }
}

/* ----------------------------   SECTION - News Inside  ------------------------------- */
.sec-new-inside {
  padding-bottom: 70px;
  .new-title {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: #3E4958;
    margin-bottom: 30px;
  }
  .new-image {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .new-body {
    font-size: 16px;
    font-weight: 400;
  }
  @media (max-width: $screen-size-medium) {
    .new-title {
      font-size: 30px;
      line-height: 36px;
    }
  }
}